/* comentário: Linha de código */

/* Organizando o arquivo CSS */

/* Limpando o navegador. CSS Reset */

/* 
inherit: Herança explicita
initial: Força e redefinição de valores
unset: desabilita uma propriedade CSS
*/

/* Responsive Web Design */

/* Mobile */

body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    outline: 0;
}
* {
    box-sizing: border-box;
}
/* body > div {
    width: 300px;
    height: 300px;
    margin: 5% auto;
    border: solid 10px red;
    padding: 40px 20px; */

body {
    background-color: #333;
    color: #e4e4e4;
}

/* Quando a largura minima for de 768px aplique  este CSS */
@media (min-width: 768px){
    /* especificidade CSS. Quanto mais especifico o seletor, mais importante. */
    html body {
        background-color: unset;
        color: initial;
    }
    body {
        background-color: red;
    }
}